[build]
  command = "pnpm run build"
  publish = ".next"

[build.environment]
  NODE_VERSION = "24"
  NPM_FLAGS = "--legacy-peer-deps"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[dev]
  command = "pnpm run dev"
  port = 3000
  publish = ".next"

[functions]
  node_bundler = "esbuild"
